.footer {
    height: 142px;
    padding: 40px;
    background: var(--first-color);
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    max-width: 1440px;
    color: var(--second-color);
}

.footer .text-main {
    font-size: 24px;
    font-family: "Press Start 2P", "sans-serif";
}

.footer .text-copyright {
    font-size: 14px;
    font-weight: bold;
}

.social-media-wrapper {
    display: flex;
    gap: 15px;
}

.social-media-wrapper .icon {
    font-size: 50px;
}

@media screen and (max-width: 830px) {
    .footer {
        height: fit-content;
    }

    .footer .footer-content {
        flex-direction: column;
        gap: 20px;
    }
}